<div class="container-fluid">
  <div class="row">
    <main class="col-12 col-md-12 col-xl-12 bd-content bg-transparent">
      <div class="d-block d-sm-flex p-2 my-2  align-items-center">
        <div class="col-12 col-sm-6 row m-0 align-items-center">
          <h6 class="mb-0"> User Management</h6>
        </div>
        <div
          class="mt-2 mt-sm-0 col-12 col-sm-6 row m-0 align-items-center justify-content-start justify-content-sm-end">
          <button type="button" class="btn btn-sm btn-white" [routerLink]="['/job']">
            Job Management</button>
          <button type="button" class="btn btn-sm btn-white" [routerLink]="['/add']">
            Add User</button>
        </div>
      </div>
      <div class="bd-example position-relative">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead class="thead-black">
              <tr class="t_width130">
                <th scope="col" class="m_width60">S No.</th>
                <th scope="col">Name</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Email</th>
                <th scope="col" class="m_width50">Gender</th>
                <th scope="col" class="m_width75">Hourly rate </th>
                <th scope="col" class="m_width75">Edit </th>
                <th scope="col" class="m_width75">DELETED </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let userdetail of UserList | paginate: {id: 'server', itemsPerPage:PageSize ,currentPage:PageNo,totalItems:totalcount} let i = index">
                <td>{{PageSize*(PageNo-1) +(i+1)}}</td>
                <td>{{userdetail.name}}</td>
                <td>{{userdetail.dateOfBirth | date}}</td>
                <td>{{userdetail.email}}</td>
                <td>{{userdetail.status}}</td>
                <td>{{userdetail.hourlyRate}}</td>
                <td><button type="button" title="Edit Job" class="btn btn-sm btn-info"
                    [routerLink]="'/edit/'+userdetail.id">Edit</button>
                </td>
                <td class="text-danger">
                  <span class="cursorpointer" (click)="openmodal(userdetail.id)"><i aria-hidden="true"
                      class="fa fa-trash"></i>&nbsp;DELETED</span>
                </td>
              </tr>

              <tr *ngIf="!UserList||UserList.length<=0" class="text-center">
                <td colspan="100%" class="alert-danger">
                  No Record Found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="UserList && UserList.length > 0" class="row dt-toolbar-footer ul-pagination-mb0">
          <div class="my-2 my-sm-0 d-flex col-sm-6 col-12 justify-content-sm-start justify-content-center">
            <i>Showing 1 to {{UserList.length}} of {{totalcount}} entries</i>
          </div>
          <div class="my-2 my-sm-0 d-flex col-sm-6 col-12 justify-content-sm-end justify-content-center">
            <pagination-controls (pageChange)="Paging($event)" id="server"></pagination-controls>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<ng-template #DeleteModal>
  <div class="modal-header">
    <h4 class="modal-title">Are You Sure You Want To Delete This User ?</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="hide()" aria-label="Close">
      <span class="lightgrey " aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-black" (click)="hide()">Close</button>
    <button type="button" class="btn btn-danger" (click)="RemoveUserById(UserId)">Delete</button>
  </div>
</ng-template>
